<div class="spinner" *ngIf="isLoading"> </div><div id="textunderspinner" *ngIf="isLoading"><p>This may take a while...</p></div>
<div class="overlay" *ngIf="isLoading"></div>
<h1>Total orders by Country Report</h1>
<br>
<br>

<div id="selection">
  <p>Select a country to display its specific orders and employees:</p>
  <select [(ngModel)]="selection" class="form-control">
    <option *ngFor="let option of options" [value]="option.id">{{option.text}}</option>
  </select>

  <br>
  <div id="gbutton">
    <button type="button" class="btn btn-primary" (click)="submitReport()">Generate</button>
    <div class="divider"></div>
    <button type="button" class="btn btn-primary" (click)="DownloadPDF()">Export as PDF</button>
  </div>

</div>

<div class="reportChart">
  <canvas id="canvas">{{chart}}</canvas>
</div>

<div *ngIf="employees">
  <div class="employeeTable">
    <div *ngFor="let item of employees; let i = index">
      <br>
      <p style="text-align:center;"><strong>{{item.Key}}</strong>   (Total Sales: {{item.TotalOrders}})</p>
      <table class="container" id="test{{i}}">
        <thead>
        <tr>
          <th>Customer</th>
          <th>Shipping Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of item.EmployeeOrders">
          <td>{{customer.Name}}</td>
          <td>{{customer.ShipAddress}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>

