/* You can add global styles to this file, and also import other style files */
body{
    background-color: #2d2d2d;
    color: white;
}

caption
  { 
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-align: center;
  caption-side: top;
  margin:0 auto;
 }